<div
  class="container-fluid mb-3 py-3"
  data-aos="fade-up"
  data-aos-duration="750"
>
  <div
    class="row justify-content-center py-5 text-light"
    style="background-color: rgb(255, 193, 7); height: 275px"
  >
    <div
      class="col-4 text-center align-self-center"
      data-aos="fade-up"
      data-aos-duration="750"
    >
      <h1><i class="bi bi-file-earmark-arrow-down-fill"></i></h1>
      <p>
        <span class="fs-3 fw-light"> Surat Masuk </span>
        <br />
        <span class="fs-3 fw-light"> <%= suratMasukCount %> </span>
      </p>
    </div>
    <div
      class="col-4 text-center align-self-center"
      data-aos="fade-up"
      data-aos-duration="750"
    >
      <h1><i class="bi bi-file-earmark-arrow-up-fill"></i></h1>
      <p>
        <span class="fs-3 fw-light"> Surat Keluar </span>
        <br />
        <span class="fs-3 fw-light"> <%= suratKeluarCount %> </span>
      </p>
    </div>
  </div>
</div>
