<div class="container-fluid" data-aos="fade-down" data-aos-duration="750">
  <div class="row justify-content-center py-5 my-5">
    <div class="col-8 text-center">
      <h1 class="text-success display-4">E-Arsip</h1>
      <br />
      <h4>PTK PPs UNIMA</h4>
      <br />
      <p>
        Selamat Datang di E-Arsip. E-Arsip merupakan tempat penyimpanan surat
        masuk dan surat keluar, yang dihasilkan oleh sivitas akademika Program
        Studi PTK PPs UNIMA Program Pascasarjana agar dapat digunakan untuk
        mempermudah proses pencarian berkas.
      </p>
      ________________________________________________________________________
    </div>
  </div>
</div>
