<div
  class="container-fluid p-5 mt-3"
  data-aos="fade-down"
  data-aos-duration="1000"
>
  <div class="row justify-content-center">
    <div
      class="col-12 col-md-6 col-lg-4 p-5"
      style="border: 1px solid rgb(255, 193, 7); border-radius: 35px"
    >
      <h4 class="text-warning" data-aos="fade-down" data-aos-duration="1000">
        Selamat Datang
      </h4>
      <h6 class="text-muted" data-aos="fade-down" data-aos-duration="1000">
        Harap Login untuk melanjutkan.
      </h6>
      <br />
      <form method="post" action="/user">
        <div class="mb-3">
          <label
            for="exampleInputEmail1"
            class="form-label"
            data-aos="fade-down"
            data-aos-duration="1000"
            >Email address</label
          >
          <input
            type="email"
            name="email"
            placeholder="alamat@email.com"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            data-aos="fade-down"
            data-aos-duration="1000"
          />
          <!-- <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div> -->
        </div>
        <div class="mb-3">
          <label
            for="exampleInputPassword1"
            class="form-label"
            data-aos="fade-down"
            data-aos-duration="1000"
            >Password</label
          >
          <input
            type="password"
            name="password"
            placeholder="********"
            class="form-control"
            id="exampleInputPassword1"
            data-aos="fade-down"
            data-aos-duration="1000"
          />
        </div>
        <br />
        <button
          type="submit"
          class="btn btn-warning"
          data-aos="fade-down"
          data-aos-duration="1000"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
