<div class="container-fluid mt-5">
  <footer class="py-3 my-4">
    <hr />
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item">
        <a href="/" class="nav-link px-2 text-muted"
          ><i class="bi bi-house-door-fill"></i> Beranda</a
        >
      </li>
      &ensp;
      <li class="nav-item">
        <a
          href="/surat?category=Surat%20Masuk&column=name&query="
          class="nav-link px-2 text-muted"
          ><i class="bi bi-mailbox2"></i> Surat Masuk</a
        >
      </li>
      &ensp;
      <li class="nav-item">
        <a
          href="/surat?category=Surat%Keluar&column=name&query="
          class="nav-link px-2 text-muted"
          ><i class="bi bi-envelope-paper-fill"></i> Surat Keluar</a
        >
      </li>
    </ul>
    <p class="text-center text-success">© 2023 Yungdo</p>
  </footer>
</div>
